/*table.html styling*/
td{
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 3px #7b7a7a;
}
table{
    border-collapse:separate;
    border-spacing:10px 10px;
}

/*article.html styling*/

.box{
    background-color: #ddbcdd;
    display: inline-block;
    margin: 0 20px 0 10px;
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.box2{
    background-color: azure;
    overflow: hidden scroll;
    margin-right: 20px;
    padding: 0 10px;
    width: 780px;
    height: 75px;
}

/*have fun page styling*/
.have-fun #colored-p{
    color: blue;
}

.have-fun p a{
    color: #e5e500;
}

.have-fun p mark{
    text-decoration: underline;
    color: brown;
}

.have-fun ul ul{
    color: blue;
}

.have-fun ul a{
    color: red;
}

.have-fun #no-style{
    list-style-type: none;
}